<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css " rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleaDocumentpis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>MercadoLiebre - Login</title>
</head>
<body>
  <header>
    <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre" width="100%"/>
    <div class="search-bar">
      <p>Buscar...</p>
      <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="comprar">
      <p><i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    <nav class="navbar">
      <ul>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#"> Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
    </nav>
    <nav class="login-bar">
      <ul>
        <li><a href="/register">Creá tu cuenta <i class="fa-sharp fa-solid fa-address-card"></i></a></li>
        <li><a href="/login">Ingresá <i class="fa-sharp fa-solid fa-right-to-bracket"></i></a></li>
        <li><a href="#">Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></a></li>
      </ul>
    </nav>
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>
  </header>
  <main>
    <section>
      <form action="/" method="get">
        <h1>Iniciar sesion</h1>
        <input type="text" name="usuario" id="usuario" placeholder="Usuario">
        <p class="error">Usuario requerido.</p>
        <input type="password" name="password" id="password" placeholder="Contraseña">
        <p class="error">Contraseña requerida.</p>
        <button type="submit">Ingresar</button>
      </form>
    </section>
  </main>
  <footer>
    <article>
      <i class="fa-sharp fa-solid fa-credit-card"></i>
      <h3>Pagá con tarjeta o en efectivo</h3>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p> 
    </article>
    <article>
      <i class="fa-sharp fa-solid fa-gift"></i> 
      <h3>Envío gratis desde $ 2.500</h3>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
      productos. Es un beneficio de Mercado Puntos.</p>
    </article>
    <article>
      <i class="fa-sharp fa-solid fa-user-shield"></i> 
      <h3>Seguridad, de principio a fin</h3>
      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
    </article>
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
  </footer>
</body>
</html>