/* Paleta de colores
** Amarillo: #EAC926;
** Azul: #03264C;
** Celeste: #1259c3;
** Gris oscuro: #666;
** Gris claro: #ebebeb;
** Verde: #39b54a; */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ebebeb;
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #EAC926;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 50%;
}

.search-bar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ebebeb;
  border-radius: 20px;
  height: 30px;
  position: relative;
  width: 50%;
}

.search-bar input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  padding: 5px;
  border-radius: 20px;
  background-color: transparent;
}

.search-bar i {
  width: 10%;
}

.comprar {
  text-align: center;
  width: 100%;
}

.navbar {
  display: none;
  width: 100%;
}

.login-bar {
  display: none;
  width: 100%;
}

ul{
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

ul li {
  padding: 5px;
}

.burger-menu {
  text-align: center;
  width: 100%;
}

.burger-menu i {
  background-color: #03264C;
  font-size: 16px;
  border-radius: 10px;
  padding: 12px;
  color: #ebebeb;
}

/* Main */
main {
  margin: auto;
  width: 90%;
}

main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main section article {
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid #ebebeb;
}

main section article div {
  display: flex;
  border-top:solid 1px #ebebeb;
  padding: 15px;
  align-items: baseline;
  flex-wrap: wrap;
  position: relative;
}

main section article div i{
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  color: #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  transition: all 450ms;
}

main section article div i:hover {
  transform: rotate(-90deg);
}

h1 {
  width: 100%;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  padding: 10px;
  width: 100%;
}

p {
  font-size: 12px;
}

p.precios {
  width: 50%;
  font-size: 18px;
}

p.descuento {
  width: 50%;
  font-size: 16px;
  color: #39b54a;
}

p.descripcion {
  font-size: 16px;
  color: white;
  transition: all 500ms;
}

p.descripcion:hover {
  color: black;
}

a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  width: 90%;
}

form input {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 90%;
}


form div input{
  width: auto;
}

#avatar {
  width: 75%;
}

form h1 {
  text-align: center;
}

form div {
  text-align: center;
}


form button {
  border-radius: 20px;
  border: none;
  padding: 10px;
  background-color: #1259c3;
  color: #ebebeb;
}

form button:hover {
  background-color: #0022AA;
}

form div button {
  width: 45%;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  background-color: #1259c3;
  color: #ebebeb;
}

/* Footer */

footer {
  text-align: center;
  display: flex;
  justify-content: space-around;
  
  flex-wrap: wrap;
}

footer article {
  width: 100%;
  margin-bottom: 10px;
}

footer article i {
  color: #03264C;
  font-size: 2em;
  margin-bottom: 10px;
}

/* Tablet */
@media (min-width: 361px) {
  main section article {
    width: 49%;
  }
  
  p.descripcion {
    display: block;
  }

  .navbar {
    display: block;
    justify-content: space-around;
    align-items: center;
  }
  
  .login-bar {
    display: block;
    justify-content: space-around;
    align-items: center;
  }

  .burger-menu {
    display: none;
  }

  .logo {
    width: 33%;
  }
  
  .search-bar{
    width: 33%;
    font-size: 12px;
  }
  
  .comprar {
    width: 33%;
  }

}

/* Desktop */
@media (min-width: 769px) {
  main section article {
    transition: all 500ms;
    width: 24%;
  }

  main section article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  
  p.descripcion {
    display: block;
  }

  .navbar {
    display: block;
    width: 50%;
  }
  
  .login-bar {
    display: block;
    width: 50%;
  }

  .burger-menu {
    display: none;
  }

  footer article {
    width: 33%;
    margin-bottom: 10px;
  }
}

/* Errores */
.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}